.nav-red {
  background-color: #000;
  span {
    text-transform: uppercase;
  }
}
.dark {
  color: #fff;
  background: #000;
}
.light {
  color: #fff;
  background: #515863;
}

.red {
  color: #fff;
  background: #e94a61;
  border: none;
  box-shadow: 0 0 10px rgba(92, 80, 98, 0.308);
  transition: all 300ms ease-in-out;
  &:hover {
    background: #000000;
    border: none;
    box-shadow: 0 0 15px rgba(177, 177, 177, 0.308);
  }
}
